.about-container {
  text-align: center;
  padding: 20px;
}

.about-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 1.2rem; /* Adjust the font size here */
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

  